<nav class="navbar navbar-light bg-info">
    <a class="navbar-brand" href="/">Django2.0.7</a>
    <form class="form-inline">
        {% if user.is_authenticated %}
            <a href="/home/">
                <button class="btn btn-warning" type="button">Home</button>
            </a>
            <a href="/blogs/">
                <button class="btn btn-warning" type="button">Blogs</button>
            </a>
            <button class="btn btn-warning" type="button">Contact</button>&nbsp;
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
            <a href="/logout/">
                <button class="btn btn-default" type="button">Logout</button>
            </a>
        {% endif %}
    </form>
</nav>


